/*
START
Main Styles
*/
:root {

}
/*
END
Main Styles
*/


/*
START
Light Button
*/
.light-button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 200px;
  }

  .light-button-container .btn {
	height: 50px;
	margin: 20px;
	margin-bottom: 40px;
	position: relative;
	width: 155px;
  }

  .light-button-container .btn a {
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
	color: #fff;
	display: flex;
	font-size: 18px;
	font-weight: 700;
	left: 0;
	top: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	justify-content: center;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(15px);
	z-index: 1;
	transition: 0.5s;
  }

  .light-button-container .btn:hover a {
	letter-spacing: 2px;
  }

  .light-button-container .btn a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left,
				  rgba(255,255,255,0.15),
				  transparent);
	transform: skewX(45deg) translateX(0);
	transition: 0.5s;
  }

  .light-button-container .btn:hover a::before {
	transform: skewX(45deg) translateX(200%);
  }

  .light-button-container .btn::before {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -5px;
	height: 10px;
	width: 30px;
	background: rgb(63, 238, 10);
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0s;
  }

  .light-button-container .btn:hover::before {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
	transition-delay: 0.5s;
  }

  .light-button-container .btn::after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -5px;
	height: 10px;
	width: 30px;
	background: rgb(7, 245, 59);
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0s;
  }

  .light-button-container .btn:hover::after {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
	transition-delay: 0.5s;
  }

  .light-button-container .btn:nth-child(1):before,
  .light-button-container .btn:nth-child(1)::after {
	background: #0cf318;
	box-shadow: 0 0 5px #0ffb2e,
	  0 0 15px #2bff59,
	  0 0 30px #32ff2b,
	  0 0 60px #22ff47;
  }

  .light-button-container .btn:active a {
	color: #000;
  }
/*
END
Light Button
*/

/*
START
Lightsaber Loader
*/
#loader {
	width: 80px;
	height: 40px;
	position: relative;
	/* position: absolute; */
	/* top: 50%; */
	/* left: 50%; */
	margin: 2rem;
	z-index: 1000;
  }

  .lightsaber {
	position: absolute;
	width: 4px;
	height: 12px;
	background-color: #666;
	border-radius: 1px;
	bottom: 0;
  }

  .lightsaber.ls-left {
	left: 0;
  }

  .lightsaber.ls-right {
	right: 0;
  }

  .lightsaber:before {
	position: absolute;
	content: ' ';
	display: block;
	width: 2px;
	height: 25px;
	max-height: 1px;
	left: 1px;
	top: 1px;
	background-color: #fff;
	border-radius: 1px;
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
	-webkit-transform-origin: center top;
	-ms-transform-origin: center top;
	transform-origin: center top;
  }

  .lightsaber:after {
	position: absolute;
	content: ' ';
	display: block;
	width: 2px;
	height: 2px;
	left: 1px;
	top: 4px;
	background-color: #fff;
	border-radius: 50%;
  }

  .ls-particles {
	position: absolute;
	left: 42px;
	top: 10px;
	width: 1px;
	height: 5px;
	background-color: rgb(51, 51, 51, 0);
	-webkit-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
  }

  .lightsaber.ls-green:before {
	-webkit-animation: showlightgreen 2s ease-in-out infinite 1s;
	animation: showlightgreen 2s ease-in-out infinite 1s;
  }

  .lightsaber.ls-red:before {
	-webkit-animation: showlightred 2s ease-in-out infinite 1s;
	animation: showlightred 2s ease-in-out infinite 1s;
  }

  .lightsaber.ls-left {
	-webkit-animation: fightleft 2s ease-in-out infinite 1s;
	animation: fightleft 2s ease-in-out infinite 1s;
  }

  .lightsaber.ls-right {
	-webkit-animation: fightright 2s ease-in-out infinite 1s;
	animation: fightright 2s ease-in-out infinite 1s;
  }

  .ls-particles.ls-part-1 {
	-webkit-animation: particles1 2s ease-out infinite 1s;
	animation: particles1 2s ease-out infinite 1s;
  }

  .ls-particles.ls-part-2 {
	-webkit-animation: particles2 2s ease-out infinite 1s;
	animation: particles2 2s ease-out infinite 1s;
  }

  .ls-particles.ls-part-3 {
	-webkit-animation: particles3 2s ease-out infinite 1s;
	animation: particles3 2s ease-out infinite 1s;
  }

  .ls-particles.ls-part-4 {
	-webkit-animation: particles4 2s ease-out infinite 1s;
	animation: particles4 2s ease-out infinite 1s;
  }

  .ls-particles.ls-part-5 {
	-webkit-animation: particles5 2s ease-out infinite 1s;
	animation: particles5 2s ease-out infinite 1s;
  }

  @-webkit-keyframes showlightgreen {
	0% {
	  max-height: 0;
	  box-shadow: 0 0 0 0 #87c054;
	}

	5% {
	  box-shadow: 0 0 4px 2px #87c054;
	}

	10% {
	  max-height: 22px;
	}

	80% {
	  max-height: 22px;
	}

	85% {
	  box-shadow: 0 0 4px 2px #87c054;
	}

	100% {
	  max-height: 0;
	  box-shadow: 0 0 0 0 #87c054;
	}
  }

  @-webkit-keyframes showlightred {
	0% {
	  max-height: 0;
	  box-shadow: 0 0 0 0 #f06363;
	}

	20% {
	  box-shadow: 0 0 4px 2px #f06363;
	}

	25% {
	  max-height: 22px;
	}

	80% {
	  max-height: 22px;
	}

	85% {
	  box-shadow: 0 0 4px 2px #f06363;
	}

	100% {
	  max-height: 0;
	  box-shadow: 0 0 0 0 #f06363;
	}
  }

  @-webkit-keyframes fightleft {
	0% {
	  -webkit-transform: rotateZ(0deg);
	  transform: rotateZ(0deg);
	  left: 0;
	  bottom: 0;
	}

	30% {
	  -webkit-transform: rotateZ(0deg);
	  transform: rotateZ(0deg);
	  bottom: 0;
	}

	40% {
	  -webkit-transform: rotateZ(45deg);
	  transform: rotateZ(45deg);
	  left: 0;
	  bottom: 2px;
	}

	45% {
	  -webkit-transform: rotateZ(65deg);
	  transform: rotateZ(65deg);
	  left: 0;
	}

	65% {
	  -webkit-transform: rotateZ(410deg);
	  transform: rotateZ(410deg);
	  left: 30px;
	  bottom: 10px;
	}

	95% {
	  -webkit-transform: rotateZ(410deg);
	  transform: rotateZ(410deg);
	  left: 0;
	  bottom: 0;
	}

	100% {
	  -webkit-transform: rotateZ(360deg);
	  transform: rotateZ(360deg);
	  left: 0;
	  bottom: 0;
	}
  }

  @-webkit-keyframes fightright {
	0% {
	  -webkit-transform: rotateZ(0deg);
	  transform: rotateZ(0deg);
	  right: 0;
	  bottom: 0;
	}

	30% {
	  -webkit-transform: rotateZ(0deg);
	  transform: rotateZ(0deg);
	  bottom: 0;
	}

	45% {
	  -webkit-transform: rotateZ(-45deg);
	  transform: rotateZ(-45deg);
	  right: 0;
	  bottom: 2px;
	}

	50% {
	  -webkit-transform: rotateZ(-65deg);
	  transform: rotateZ(-65deg);
	  right: 0;
	}

	68% {
	  -webkit-transform: rotateZ(-410deg);
	  transform: rotateZ(-410deg);
	  right: 27px;
	  bottom: 13px;
	}

	95% {
	  -webkit-transform: rotateZ(-410deg);
	  transform: rotateZ(-410deg);
	  right: 0;
	  bottom: 0;
	}

	100% {
	  -webkit-transform: rotateZ(-360deg);
	  transform: rotateZ(-360deg);
	  right: 0;
	  bottom: 0;
	}
  }

  @-webkit-keyframes particles1 {
	0% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(35deg) translateY(0px);
	  transform: rotateZ(35deg) translateY(0px);
	}

	63% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(35deg) translateY(0px);
	  transform: rotateZ(35deg) translateY(0px);
	}

	64% {
	  background-color: rgba(255, 255, 100,1);
	  -webkit-transform: rotateZ(35deg) translateY(0px);
	  transform: rotateZ(35deg) translateY(0px);
	}

	100% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(35deg) translateY(-30px);
	  transform: rotateZ(35deg) translateY(-30px);
	}
  }

  @-webkit-keyframes particles2 {
	0% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-65deg) translateY(0px);
	  transform: rotateZ(-65deg) translateY(0px);
	}

	63% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-65deg) translateY(0px);
	  transform: rotateZ(-65deg) translateY(0px);
	}

	64% {
	  background-color: rgba(255, 255, 100,1);
	  -webkit-transform: rotateZ(-65deg) translateY(0px);
	  transform: rotateZ(-65deg) translateY(0px);
	}

	95% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-65deg) translateY(-40px);
	  transform: rotateZ(-65deg) translateY(-40px);
	}

	100% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-65deg) translateY(-40px);
	  transform: rotateZ(-65deg) translateY(-40px);
	}
  }

  @-webkit-keyframes particles3 {
	0% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-75deg) translateY(0px);
	  transform: rotateZ(-75deg) translateY(0px);
	}

	63% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-75deg) translateY(0px);
	  transform: rotateZ(-75deg) translateY(0px);
	}

	64% {
	  background-color: rgba(255, 255, 100,1);
	  -webkit-transform: rotateZ(-75deg) translateY(0px);
	  transform: rotateZ(-75deg) translateY(0px);
	}

	97% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-75deg) translateY(-35px);
	  transform: rotateZ(-75deg) translateY(-35px);
	}

	100% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-75deg) translateY(-35px);
	  transform: rotateZ(-75deg) translateY(-35px);
	}
  }

  @-webkit-keyframes particles4 {
	0% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-25deg) translateY(0px);
	  transform: rotateZ(-25deg) translateY(0px);
	}

	63% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-25deg) translateY(0px);
	  transform: rotateZ(-25deg) translateY(0px);
	}

	64% {
	  background-color: rgba(255, 255, 100,1);
	  -webkit-transform: rotateZ(-25deg) translateY(0px);
	  transform: rotateZ(-25deg) translateY(0px);
	}

	97% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-25deg) translateY(-30px);
	  transform: rotateZ(-25deg) translateY(-30px);
	}

	100% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-25deg) translateY(-30px);
	  transform: rotateZ(-25deg) translateY(-30px);
	}
  }

  @-webkit-keyframes particles5 {
	0% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(65deg) translateY(0px);
	  transform: rotateZ(65deg) translateY(0px);
	}

	63% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(65deg) translateY(0px);
	  transform: rotateZ(65deg) translateY(0px);
	}

	64% {
	  background-color: rgba(255, 255, 100,1);
	  -webkit-transform: rotateZ(65deg) translateY(0px);
	  transform: rotateZ(65deg) translateY(0px);
	}

	97% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(65deg) translateY(-35px);
	  transform: rotateZ(65deg) translateY(-35px);
	}

	100% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(65deg) translateY(-35px);
	  transform: rotateZ(65deg) translateY(-35px);
	}
  }

  @keyframes showlightgreen {
	0% {
	  max-height: 0;
	  box-shadow: 0 0 0 0 #87c054;
	}

	5% {
	  box-shadow: 0 0 4px 2px #87c054;
	}

	10% {
	  max-height: 22px;
	}

	80% {
	  max-height: 22px;
	}

	85% {
	  box-shadow: 0 0 4px 2px #87c054;
	}

	100% {
	  max-height: 0;
	  box-shadow: 0 0 0 0 #87c054;
	}
  }

  @keyframes showlightred {
	0% {
	  max-height: 0;
	  box-shadow: 0 0 0 0 #f06363;
	}

	20% {
	  box-shadow: 0 0 4px 2px #f06363;
	}

	25% {
	  max-height: 22px;
	}

	80% {
	  max-height: 22px;
	}

	85% {
	  box-shadow: 0 0 4px 2px #f06363;
	}

	100% {
	  max-height: 0;
	  box-shadow: 0 0 0 0 #f06363;
	}
  }

  @keyframes fightleft {
	0% {
	  -webkit-transform: rotateZ(0deg);
	  transform: rotateZ(0deg);
	  left: 0;
	  bottom: 0;
	}

	30% {
	  -webkit-transform: rotateZ(0deg);
	  transform: rotateZ(0deg);
	  bottom: 0;
	}

	40% {
	  -webkit-transform: rotateZ(45deg);
	  transform: rotateZ(45deg);
	  left: 0;
	  bottom: 2px;
	}

	45% {
	  -webkit-transform: rotateZ(65deg);
	  transform: rotateZ(65deg);
	  left: 0;
	}

	65% {
	  -webkit-transform: rotateZ(410deg);
	  transform: rotateZ(410deg);
	  left: 30px;
	  bottom: 10px;
	}

	95% {
	  -webkit-transform: rotateZ(410deg);
	  transform: rotateZ(410deg);
	  left: 0;
	  bottom: 0;
	}

	100% {
	  -webkit-transform: rotateZ(360deg);
	  transform: rotateZ(360deg);
	  left: 0;
	  bottom: 0;
	}
  }

  @keyframes fightright {
	0% {
	  -webkit-transform: rotateZ(0deg);
	  transform: rotateZ(0deg);
	  right: 0;
	  bottom: 0;
	}

	30% {
	  -webkit-transform: rotateZ(0deg);
	  transform: rotateZ(0deg);
	  bottom: 0;
	}

	45% {
	  -webkit-transform: rotateZ(-45deg);
	  transform: rotateZ(-45deg);
	  right: 0;
	  bottom: 2px;
	}

	50% {
	  -webkit-transform: rotateZ(-65deg);
	  transform: rotateZ(-65deg);
	  right: 0;
	}

	68% {
	  -webkit-transform: rotateZ(-410deg);
	  transform: rotateZ(-410deg);
	  right: 27px;
	  bottom: 13px;
	}

	95% {
	  -webkit-transform: rotateZ(-410deg);
	  transform: rotateZ(-410deg);
	  right: 0;
	  bottom: 0;
	}

	100% {
	  -webkit-transform: rotateZ(-360deg);
	  transform: rotateZ(-360deg);
	  right: 0;
	  bottom: 0;
	}
  }

  @keyframes particles1 {
	0% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(35deg) translateY(0px);
	  transform: rotateZ(35deg) translateY(0px);
	}

	63% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(35deg) translateY(0px);
	  transform: rotateZ(35deg) translateY(0px);
	}

	64% {
	  background-color: rgba(255, 255, 100,1);
	  -webkit-transform: rotateZ(35deg) translateY(0px);
	  transform: rotateZ(35deg) translateY(0px);
	}

	100% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(35deg) translateY(-30px);
	  transform: rotateZ(35deg) translateY(-30px);
	}
  }

  @keyframes particles2 {
	0% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-65deg) translateY(0px);
	  transform: rotateZ(-65deg) translateY(0px);
	}

	63% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-65deg) translateY(0px);
	  transform: rotateZ(-65deg) translateY(0px);
	}

	64% {
	  background-color: rgba(255, 255, 100,1);
	  -webkit-transform: rotateZ(-65deg) translateY(0px);
	  transform: rotateZ(-65deg) translateY(0px);
	}

	95% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-65deg) translateY(-40px);
	  transform: rotateZ(-65deg) translateY(-40px);
	}

	100% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-65deg) translateY(-40px);
	  transform: rotateZ(-65deg) translateY(-40px);
	}
  }

  @keyframes particles3 {
	0% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-75deg) translateY(0px);
	  transform: rotateZ(-75deg) translateY(0px);
	}

	63% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-75deg) translateY(0px);
	  transform: rotateZ(-75deg) translateY(0px);
	}

	64% {
	  background-color: rgba(255, 255, 100,1);
	  -webkit-transform: rotateZ(-75deg) translateY(0px);
	  transform: rotateZ(-75deg) translateY(0px);
	}

	97% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-75deg) translateY(-35px);
	  transform: rotateZ(-75deg) translateY(-35px);
	}

	100% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-75deg) translateY(-35px);
	  transform: rotateZ(-75deg) translateY(-35px);
	}
  }

  @keyframes particles4 {
	0% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-25deg) translateY(0px);
	  transform: rotateZ(-25deg) translateY(0px);
	}

	63% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-25deg) translateY(0px);
	  transform: rotateZ(-25deg) translateY(0px);
	}

	64% {
	  background-color: rgba(255, 255, 100,1);
	  -webkit-transform: rotateZ(-25deg) translateY(0px);
	  transform: rotateZ(-25deg) translateY(0px);
	}

	97% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-25deg) translateY(-30px);
	  transform: rotateZ(-25deg) translateY(-30px);
	}

	100% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(-25deg) translateY(-30px);
	  transform: rotateZ(-25deg) translateY(-30px);
	}
  }

  @keyframes particles5 {
	0% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(65deg) translateY(0px);
	  transform: rotateZ(65deg) translateY(0px);
	}

	63% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(65deg) translateY(0px);
	  transform: rotateZ(65deg) translateY(0px);
	}

	64% {
	  background-color: rgba(255, 255, 100,1);
	  -webkit-transform: rotateZ(65deg) translateY(0px);
	  transform: rotateZ(65deg) translateY(0px);
	}

	97% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(65deg) translateY(-35px);
	  transform: rotateZ(65deg) translateY(-35px);
	}

	100% {
	  background-color: rgba(51, 51, 51, 0);
	  -webkit-transform: rotateZ(65deg) translateY(-35px);
	  transform: rotateZ(65deg) translateY(-35px);
	}
  }
/*
END
Lightsaber Loader
*/
